.campoObligatorio {
	color: #f00;
}

#btnComprar {
	color: #ffcc25;
	background-color: transparent;

	border: 2px solid #ffcc25;
	border-radius: 3px;

	font-size: 1.3em;
	line-height: 1.7em;
	padding: 0.3em 1em !important;

	transition: .3s;

	width: 100%;
}

#btnComprar:hover {
	color: #2ea3f2;
	border: 2px solid transparent;
}

input:valid {
	border: 1px solid #0f0;
}

/*
input:invalid {
	border: 1px solid #f00;
}
*/
